services:
  postgres:
    image: postgres:15
    container_name: hair_salon_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge